@media screen and (min-width: 1200px) and (max-width: 1366px){
    .crm-activity span {
        display: initial!important;
    }
    .crm-activity {
        height: auto!important;
    }

    .crm-activity .media .media-body .dates {
        /* display: -webkit-box; */
        /* display: -ms-flexbox; */
        display: initial!important;
    }
}
td {
    padding: 5px !important;
    vertical-align: middle !important;
}

/* th {
    padding-left: 10px !important;
} */
.form-btn{
    display: inline-block!important;
    font-weight: 400!important;
    line-height: 1.5!important;
    text-align: center!important;
    text-decoration: none!important;
    vertical-align: middle!important;
    cursor: pointer!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    background-color: transparent!important;
    border: 1px solid transparent!important;
    padding: 0!important;
    font-size: 1rem!important;
    border-radius: 0.25rem!important;
}
.form-btn-danger{
    color: #d43545!important;
}
.form-btn-success{
    color:#24695c!important;
}
.form-btn-warning{
    color: #e4ca43!important;
}
.form-btn-info{
    color: #777777;
}
.action {
    text-align: center;
}
.menu-content > li{
    margin-left: 20px;
}
/* i {
    font-size: 14px !important;
} */
.card-description{
    font-weight: 600;
    font-size:15px;
    color: black;
}
.header-buttons button {
    font-weight: 500;
    font-size: small;
}

.status_btns {
    min-width: 130px !important;
    padding: .6rem .7rem !important;
}

#pwd_visibility {
    position: absolute;
    cursor: pointer;
    top: 18px;
    right: 30px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-transform: capitalize;
    z-index: 10;
}

#pwd_confirm_visibility {
    position: absolute;
    cursor: pointer;
    top: 18px;
    right: 30px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-transform: capitalize;
    z-index: 10;
}

.show-loader {
    height: 100%;
    width: 100%;
    background: rgba(121, 121, 121, 0.521);
    position: absolute;
    z-index: 999;
}




.initials{
    /* background-color:#24695c!important; */ 
    width:67px!important;
    height:67px!important;
    border-radius:50%!important; 
    display:flex!important;
    justify-content:center!important;
    align-items:center!important; 
    
    background-image: linear-gradient( 
                        90deg, #f4f4f4 50%, transparent 50%, transparent ), linear-gradient(
                        90deg, #e6edef 50%, #f4f4f4 50%, #f4f4f4);
}
.media{
    align-items: center;
}
.initials span{
    color:#24695c;
    font-size:24px!important; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
}

.crm-activity ul.dates li + li {
    border: none;
    padding-left: 0px;
    margin-left: 0px;
}
.crm-activity span{
    font-size: inherit;
}

.f1 .f1-steps .f1-step {
    width: 24.333333%;
}
.form-label{
    font-size: 15px;
}

/* Profile custom css */
.user-profile .profile-header .userpro-box h4 {
    margin-bottom: 15px;
}
.user-profile .profile-header .userpro-box h6 {
    margin-bottom: 5px;
}
.user-profile .post-about ul li {
    align-items: start;
}
.logout-primary{
  font-size: 18px;
  cursor: pointer;
}

/* Rating custom css */
.br-theme-bars-square .br-widget a {
    width: 49px;
    color: #59667a;
}
.br-theme-bars-reversed .br-widget .br-current-rating {
    color: #59667a;
}

/* rating for reversed waala */
.br-widget a.br-active[data-rating-value="1"],
.br-widget a.br-selected[data-rating-value="1"] {
    background-color: #3db39d;
}
.br-widget a.br-active[data-rating-value="2"],
.br-widget a.br-selected[data-rating-value="2"] {
    background-color: #39a893;
}
.br-widget a.br-active[data-rating-value="3"],
.br-widget a.br-selected[data-rating-value="3"] {
    background-color: #32917f;
}
.br-widget a.br-active[data-rating-value="4"],
.br-widget a.br-selected[data-rating-value="4"] {
    background-color: #2c8070;
}
.br-widget a.br-active[data-rating-value="5"],
.br-widget a.br-selected[data-rating-value="5"] {
    background-color: #266f61;
}
/* Movie waala rating */
.br-theme-bars-movie .br-widget a.br-active[data-rating-value="5"],
.br-theme-bars-movie .br-widget a.br-selected[data-rating-value="5"] {
    background-color: #3db39d;
}
.br-theme-bars-movie .br-widget a.br-active[data-rating-value="4"],
.br-theme-bars-movie .br-widget a.br-selected[data-rating-value="4"] {
    background-color: #39a893;
}
.br-theme-bars-movie .br-widget a.br-active[data-rating-value="3"],
.br-theme-bars-movie .br-widget a.br-selected[data-rating-value="3"] {
    background-color: #32917f;
}
.br-theme-bars-movie .br-widget a.br-active[data-rating-value="2"],
.br-theme-bars-movie .br-widget a.br-selected[data-rating-value="2"] {
    background-color: #2c8070;
}
.br-theme-bars-movie .br-widget a.br-active[data-rating-value="1"],
.br-theme-bars-movie .br-widget a.br-selected[data-rating-value="1"] {
    background-color: #266f61;
}
.br-theme-bars-movie .br-widget .br-current-rating {
    color: #59667a;
}
/* rating for square boxes */
.br-theme-bars-square .br-widget a.br-selected{
    color: white;
}
/* Star waali rating */
.br-theme-fontawesome-stars-o .br-widget a.br-active[data-rating-value="5"],
.br-theme-fontawesome-stars-o .br-widget a.br-selected[data-rating-value="5"] {
    background-color: transparent;
}
.br-theme-fontawesome-stars-o .br-widget a.br-active[data-rating-value="4"],
.br-theme-fontawesome-stars-o .br-widget a.br-selected[data-rating-value="4"] {
    background-color: transparent;
}
.br-theme-fontawesome-stars-o .br-widget a.br-active[data-rating-value="3"],
.br-theme-fontawesome-stars-o .br-widget a.br-selected[data-rating-value="3"] {
    background-color: transparent;
}
.br-theme-fontawesome-stars-o .br-widget a.br-active[data-rating-value="2"],
.br-theme-fontawesome-stars-o .br-widget a.br-selected[data-rating-value="2"] {
    background-color: transparent;
}
.br-theme-fontawesome-stars-o .br-widget a.br-active[data-rating-value="1"],
.br-theme-fontawesome-stars-o .br-widget a.br-selected[data-rating-value="1"] {
    background-color: transparent;
}

.star-ratings .stars .title {
    color: #59667a;
}

.img-90{
    width: 110px !important;
    height: 110px;
}

.custom-box{
    border-color: #e6edef;
    box-shadow: 0 4px 14px rgb(174 197 231 / 50%);
}
.custom-box > .table-response table tbody tr td {
    vertical-align: middle;
    font-weight: 500;
}

/* Datatable processing */

.dataTables_processing {
  margin-left: -100px;
  margin-top: 0px!important;
  margin-bottom: -3em!important;
  text-align: center;
  color: #1c4f46!important;
  background-color: white!important;
  /* background: none!important; */
  padding: 1em 0!important; 
  z-index: 9999;
}