td{
    padding: 10px!important;
    vertical-align: middle!important;
}
th{
    padding-left: 10px!important;
}
.action{
    text-align: center;
}

i{
    font-size: 14px!important;
}
.header-buttons button{
 color: rgb(94, 93, 93);
 font-weight: 100;
 font-size: small;
}