.card{
    box-shadow: 4px 4px 2px rgb(0 0 0 / 20%);
}
td {
    padding: 10px !important;
    vertical-align: middle !important;
}

th {
    padding-left: 10px !important;
}

.action {
    text-align: center;
}

i {
    font-size: 14px !important;
}

.header-buttons button {
    color: rgb(94, 93, 93);
    font-weight: 100;
    font-size: small;
}

.status_btns {
    min-width: 130px !important;
    padding: .6rem .7rem !important;
    ;
}

#pwd_visibility {
    float: right;
    cursor: pointer;
    margin-right: 30px;
    margin-top: -30px;
}

#pwd_confirm_visibility {
    float: right;
    cursor: pointer;
    margin-right: 30px;
    margin-top: -30px;
}

.show-loader {
    height: 100%;
    width: 100%;
    background: rgba(121, 121, 121, 0.521);
    position: absolute;
    z-index: 999;
}


.counter {
    color: #3c286e;
    text-align: center;
    height: 160px;
    width: 160px;
    padding: 30px 25px 25px;
    margin: 0 auto;
    /* #f27f21 */
    border: 3px solid #3c286e;
    border-radius: 20px 20px;
    position: relative;
    z-index: 1;
}

.counter:before,
.counter:after {
    content: "";
    background: #f3f3f3;
    border-radius: 20px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 15px;
    right: 15px;
    z-index: -1;
}

.counter:after {
    background: transparent;
    width: 60px;
    height: 60px;
    border: 15px solid #3c286e;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 20px;
    box-shadow: none;
    top: auto;
    left: -10px;
    bottom: -10px;
    right: auto;
}

.counter .counter-icon {
    font-size: 11px;
    line-height: 21px;
    margin: 0 0 15px;
    transition: all 1s ease 0s;
}

.counter:hover .counter-icon {
    transform: rotateY(360deg);
}

.counter .counter-value {
    color: #555;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 20px;
    transition: all 0.3s ease 0s;
}

.counter:hover .counter-value {
    text-shadow: 2px 2px 0 #d1d8e0;
}

.counter h3 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0 15px;
}

.counter.second {
    color: #46206a;
    border-color: #46206a;
}

.counter.second:after {
    border-bottom-color: #46206a;
    border-left-color: #46206a;
}


.counter .third {
    color: #4e1967;
    border-color: #4e1967;
}

.counter.third:after {
    border-bottom-color: #4e1967;
    border-left-color: #4e1967;
}


.counter.fourth {
    color: #561364;
    border-color: #561364;
}

.counter.fourth:after {
    border-bottom-color: #561364;
    border-left-color: #561364;
}


.counter.fifth {
    color: #5d0b60;
    border-color: #5d0b60;
}

.counter.fifth:after {
    border-bottom-color: #5d0b60;
    border-left-color: #5d0b60;
}


.counter.sixth {
    color: #65055e;
    border-color: #65055e;
}

.counter.sixth:after {
    border-bottom-color: #65055e;
    border-left-color: #65055e;
}



/* 
@media screen and (max-width:990px) {
    .counter {
        margin-bottom: 40px;
    }
}*/
@media screen and (max-width:900px) {
    .counter {
        margin-bottom: 20px;
        height: 70px;
        width: 70px;
        padding: 20px 15px 15px;
    }
}
